nav {
  box-shadow: 5px 5px 10px rgb(114, 114, 114);
  padding: 0.5rem 1rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  color: #53bfb2;
  padding: 0.75rem;
}

.navbar p {
  font-weight: bold;
}
.navbar .logo {
  cursor: pointer;
}

.navbar button {
  background-color: white;
  padding: 0.25rem 1rem;
  border: 1px solid #53bfb2;
  border-radius: 5px;
  color: inherit;
  transition: 0.2s ease-in-out;
}

.navbar button:hover {
  background-color: #53bfb2;
  color: white;
  cursor: pointer;
}

.navbar .user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar .user p {
  font-weight: normal;
}
.navbar .user span {
  font-weight: bold;
}

.navbar .login-signup {
  display: flex;
  gap: 1rem;
  text-decoration: none;
}
